header,
#topHeader,
#bottomHeader,
.visivel,
#selecionada,
main,
.divCategoria {
  display: flex;
}

#img-menu,
#selecionada,
.visivel {
  cursor: pointer;
}

#img-menu,
#selecionada {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
}

header {
  width: 100%;
  background-color: #333;
  position: fixed;
  top: 0;
  flex-direction: column;
}

#topHeader {
  align-items: center;
  justify-content: space-between;
  padding: 0.4em 0.3em;
}

#bottomHeader {
  align-items: center;
  justify-content: center;
  padding: 0.4em 0.3em;
}

#bottomHeader input {
  width: 16em;
  padding: 0.3em;
  font-size: 1em;
  text-align: center;
  border: none;
  border-radius: 2px;
  outline: none;
  text-transform: uppercase;
}

header h2 {
  font-weight: normal;
}

header h2 a {
  text-decoration: none;
  color: #fff;
}

.invisivel {
  display: none;
}

.visivel {
  position: absolute;
  left: 0.5em;
  top: 3.5em;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.visivel a {
  font-size: 1.1em;
  text-decoration: none;
  color: #fff;
}

#selecionada {
  background-color: #c00;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #fff;
}

main {
  width: 100%;
  padding: 0.5em;
  padding-top: 7em;
  padding-bottom: 4em;
  scroll-behavior: auto;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1em;
}

.divCategoria {
  background-color: #333;
  color: #fff;
  font-weight: bold;
  width: 10em;
  height: 6em;
  padding: 0.5em;
  border: 1px solid #000;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.divCategoria img {
  width: 2em;
  filter: drop-shadow(2px 2px 2px #000);
}

footer {
  width: 100%;
  background-color: #333;
  position: fixed;
  bottom: 0;
  color: #fff;
  text-align: center;
  padding: 0.5em;
}

footer h3 {
  font-weight: normal;
}

#bottomHeader input,
#img-menu,
#selecionada,
.divCategoria {
  box-shadow: 2px 2px 6px #000;
}
