header {
  background-color: #333;
  color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 0.5em;
  display: flex;
  align-items: start;
  justify-content: space-around;
}

header a {
  width: 2em;
  border-radius: 50%;
}

header a img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 3px 3px 8px #000;
}

header input {
  width: 80%;
  padding: 0.5em;
  outline: none;
  border: none;
  border-radius: 2px;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 3px 3px 8px #000;
}

main {
  padding-top: 3.2em;
  padding-bottom: 3em;
  scroll-behavior: auto;
}

main h3 {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 0.5em;
}

.divComplemento:nth-child(even) {
  background-color: #eee;
}

.divComplemento:nth-child(odd) {
  background-color: #ddd;
}

.divComplemento div {
  padding: 0.5em;
}

.spanComplemento {
  font-size: 0.9em;
}

.spanAdicionar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.spanAdicionar img {
  width: 1.5em;
  border-radius: 50%;
  box-shadow: 2px 2px 6px #000;
}

.inputQtdComplemento {
  background-color: transparent;
  width: 1em;
  margin: 0 0.5em;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  border: none;
  outline: none;
}

.divPreco {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.divPreco span {
  font-weight: bold;
  color: #080;
}

footer {
  width: 100%;
  background-color: #333;
  position: fixed;
  bottom: 0;
  color: #fff;
  text-align: center;
  padding: 0.5em;
}

footer h3 {
  font-weight: normal;
}
