header,
.visivel,
#selecionada,
main,
.comandaCliente,
.comandaMesa {
  display: flex;
}

#img-menu,
#selecionada,
.visivel,
.comandaCliente,
.comandaMesa {
  cursor: pointer;
}

#img-menu,
#selecionada {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
}

.comandaCliente,
.comandaMesa {
  background-color: #333;
  color: #fff;
  border: 1px solid #000;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  text-align: center;
}

header {
  width: 100%;
  background-color: #333;
  position: fixed;
  top: 0;
  padding: 0.5em;
  align-items: center;
  justify-content: space-between;
}

header h2 {
  font-weight: normal;
}

header h2 a {
  text-decoration: none;
  color: #fff;
}

.invisivel {
  display: none;
}

.visivel {
  position: absolute;
  left: 0.5em;
  top: 3.5em;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.visivel a {
  font-size: 1.1em;
  text-decoration: none;
  color: #fff;
}

#selecionada {
  background-color: #c00;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #fff;
}

main {
  width: 100%;
  padding: 0.5em;
  padding-top: 5em;
  padding-bottom: 5em;
  scroll-behavior: auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 0.5em;
}

.comandaCliente {
  width: 6.5em;
  height: 6em;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 0.8em;
}

.comandaMesa {
  width: 4.5em;
  height: 4.5em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

footer {
  width: 100%;
  background-color: #333;
  position: fixed;
  bottom: 0;
  text-align: center;
  padding: 0.5em;
}

footer h3 {
  font-weight: normal;
  color: #fff;
}

#img-menu,
#selecionada,
.comandaCliente,
.comandaMesa {
  box-shadow: 2px 2px 6px #000;
}
