header {
  background-color: #333;
  color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 0.5em;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

header a {
  width: 2em;
  border-radius: 50%;
}

header a img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 3px 3px 8px #000;
}

header input {
  width: 70%;
  padding: 0.5em;
  outline: none;
  border: none;
  border-radius: 2px;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 3px 3px 8px #000;
}

header span {
  background-color: #a00;
  padding: 0.4em;
  border-radius: 2px;
  box-shadow: 3px 3px 8px #000;
}

main {
  padding-top: 2.8em;
  padding-bottom: 7em;
  scroll-behavior: auto;
}

main h3 {
  background-color: #333;
  color: #0f0;
  text-align: center;
  padding: 0.5em;
}

.divMercadoria {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
}

.divMercadoria:nth-child(odd) {
  background-color: #bbb;
}

.divMercadoria:nth-child(even) {
  background-color: #eee;
}

.divDescricao,
.divComplemento {
  padding: 0.3em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.spanQuantidade {
  display: flex;
  align-items: center;
}

.spanQuantidade img {
  width: 1.5em;
  border-radius: 50%;
  box-shadow: 1px 1px 4px #000;
}

.spanQuantidade input {
  background-color: transparent;
  width: 1.5em;
  margin: 0 0.5em;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  border: none;
  outline: none;
}

.btnComplemento {
  background-color: #080;
  color: #fff;
  padding: 0.3em 0.5em;
  outline: none;
  border: none;
  font-size: 1em;
  border-radius: 2px;
  box-shadow: 1px 1px 4px #000;
}

footer {
  background-color: #333;
  width: 100%;
  padding: 0.5em;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer div {
  width: 100%;
  padding: 0.5em 0;
  display: flex;
}

#infoCliente {
  align-items: center;
  justify-content: space-between;
}

#infoCliente input,
#infoCliente textarea {
  width: 48%;
  padding: 0.5em;
  outline: none;
  border: none;
  border-radius: 2px;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 3px 3px 8px #000;
}

#quantidade {
  align-items: center;
  justify-content: space-around;
}

#quantidade img {
  width: 1.6em;
  border-radius: 50%;
  box-shadow: 3px 3px 8px #000;
}

#quantidade input {
  background-color: transparent;
  color: #fff;
  width: 1.5em;
  margin: 0 0.5em;
  font-weight: bold;
  text-align: center;
  font-size: 1.6em;
  outline: none;
  border: none;
}

footer button {
  padding: 0.5em;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: center;
  outline: none;
  border: none;
  font-size: 1em;
  background-color: #080;
  font-weight: bold;
  color: #fff;
  box-shadow: 3px 3px 8px #000;
}
