header span,
img,
button,
textarea {
  box-shadow: 2px 2px 6px #000;
}

header {
  width: 100%;
  background-color: #333;
  color: #fff;
  position: fixed;
  top: 0;
  padding: 0.5em;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

header a {
  width: 2em;
  border-radius: 50%;
}

header a img {
  width: 100%;
  border-radius: 50%;
}

header input {
  width: 80%;
  padding: 0.5em;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 2px;
  box-shadow: 2px 2px 6px #000;
}

header span {
  background-color: #c00;
  padding: 0.4em;
  border-radius: 2px;
}

main {
  padding-top: 3em;
  padding-bottom: 10.5em;
  scroll-behavior: auto;
}

main h3 {
  background-color: #333;
  color: #fff;
  padding: 0.5em;
  text-align: center;
}

main .divMercadoria {
  padding: 1em 0.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

main .divMercadoria:nth-child(odd) {
  background-color: #ddd;
}

main .divMercadoria:nth-child(even) {
  background-color: #eee;
}

.divDescricao,
.divComplemento {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.divDescricao .spanQuantidade {
  display: flex;
  align-items: center;
}

.spanQuantidade input {
  background-color: transparent;
  width: 1em;
  margin: 0 0.5em;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  outline: none;
  text-align: center;
}

main img {
  width: 1.5em;
  border-radius: 50%;
}

.divComplemento button {
  background-color: #080;
  color: #fff;
  padding: 0.3em 0.6em;
  font-size: 1em;
  border: none;
  outline: none;
  border-radius: 2px;
}

footer {
  background-color: #333;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.8em 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8em;
}

footer img {
  width: 1.6em;
  border-radius: 50%;
}

footer div {
  width: 100%;
  display: flex;
}

#infoCliente {
  flex-direction: column;
  gap: 0.8em;
}

#infoCliente input,
#infoCliente textarea {
  padding: 0.5em;
  font-size: 1em;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 2px;
  box-shadow: 2px 2px 6px #000;
}

#quantidade {
  align-items: center;
  justify-content: space-between;
}

#quantidade span {
  display: flex;
  align-items: center;
  justify-content: center;
}

#quantidade input {
  background-color: transparent;
  color: #fff;
  width: 1em;
  text-align: center;
  border: none;
  outline: none;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 1em;
}

#quantidade button {
  width: 100%;
  background-color: #080;
  color: #fff;
  padding: 0.5em;
  border-radius: 2px;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: bold;
}

header .invisivel,
#quantidade .invisivel {
  display: none;
}
