header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #333;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h2 {
  font-weight: normal;
}

header h2 a {
  text-decoration: none;
  color: #fff;
}

#img-menu {
  cursor: pointer;
  background-color: #fff;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  box-shadow: 3px 3px 8px #000;
}

.invisivel {
  display: none;
}

.visivel {
  position: absolute;
  left: 0.5em;
  top: 3.5em;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.visivel a {
  font-size: 1.1em;
  text-decoration: none;
  color: #fff;
}

#selecionada {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  background-color: #c00;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 8px #000;
  cursor: pointer;
}

#selecionada span {
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
}

main {
  padding: 0.5em;
  padding-top: 4.5em;
  padding-bottom: 4em;
  scroll-behavior: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;
}

.divCategoria {
  background-color: #444;
  width: 10em;
  height: 6em;
  padding: 0.5em;
  border: 1px solid #000;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 3px 3px 8px #000;
}

.divCategoria p {
  font-weight: bold;
  color: #fff;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 0.5em;
}

footer h3 {
  font-weight: normal;
}
